<form class="names-picker-form">
  <div class="names-picker-options">
    <div class="names-picker-controls">
      <div class="names-picker-form-group">
        <label for="picker-language">{{localize "names.language"}}:</label>
        <select id="picker-language" name="language">
          {{#each languages}}
          <option value="{{this.code}}" {{#if (eq this.code ../defaultLanguage)}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      
      <div class="names-picker-form-group">
        <label for="picker-species">{{localize "names.lbl_species"}}:</label>
        <select id="picker-species" name="species">
          {{#each species}}
          <option value="{{this.code}}" {{#if (eq this.code ../actorSpecies)}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      
      <div class="names-picker-form-group">
        <label for="picker-category">{{localize "names.category"}}:</label>
        <select id="picker-category" name="category">
          <option value="male">{{localize "names.categories.male"}}</option>
          <option value="female">{{localize "names.categories.female"}}</option>
          <option value="nonbinary">{{localize "names.categories.nonbinary"}}</option>
          <option value="surnames">{{localize "names.categories.surnames"}}</option>
          <option value="settlements">{{localize "names.categories.settlements"}}</option>
        </select>
      </div>
    </div>
    
    <button type="button" class="names-picker-generate">
      <i class="fas fa-sync-alt"></i>
      {{localize "names.new-names"}}
    </button>
  </div>

  <div class="names-picker-names">
    <h3>{{localize "names.choose-name"}}</h3>
    <div class="names-picker-list">
      <div class="names-picker-placeholder">
        <i class="fas fa-dice"></i>
        {{localize "names.click-for-suggestions"}}
      </div>
    </div>
  </div>
  
  <div class="names-picker-help">
    {{localize "names.click-to-adopt"}}
  </div>
</form>